.movie-area {
  display: flex;
  flex-direction: column;
  margin: 50px 0 10px;
}

.movie-area .content > * {
  margin: 20px 0 0;
}

.movie-area .content-wrapper {
  display: flex;
}
.movie-area .content {
  align-content: center;
}

.movie-area .content-wrapper > * {
  margin: 20px;
}

.movie-area h1 {
  font-size: 50px;
  font-weight: 100;
  font-family: Arial,sans-serif;
  margin: 0 20px 10px 0;
}

.movie-area .date {
  color: #f65261;
  font-size: 25px;
}

.movie-area .date > *{
  margin-right: 35px;
}

.movie-area .title {
  display: flex;
}
.movie-area .title h1,
.movie-area .overview {
  color: white;
}

.movie-area .vote {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #999;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  padding: 12px;
  font-size: 25px;
  color: #6B9A4B;
}

.movie-area .overview {
  font-size: 18px;
}

.movie-area .tagline {
  margin: 0;
}

.movie-area .content-wrapper img {
  width: 250px;
  height: 375px;
}

#movie-message-area {
  color: #f65261;
  font-size: 25px;
}
