.movie-card {
  margin: 30px;
  width: 250px;
  font-size: 14px;
  position: relative;
}

.movie-card a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.movie-card .group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 7px 0;
}

.movie-card button {
  background-color: #232323;
  border-radius: 50%;
  transform: rotate(90deg);
  position: absolute;
  right: 0;
  width: 35px;
  height: 35px;
  margin: 10px;
  color: white;
  border: 0;
}

.movie-card .year {
  border: 1px solid gray;
  border-radius: 5px;
  padding: 0 10px;
}
