.movie-card {
  margin: 30px;
  width: 250px;
}

.movie-card {
  font-size: 14px;
}

.movie-card a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.movie-card .group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.movie-card .group .genres {
  margin-top: 7px;
}
