body, html {
  height: 100%;
  background-color: #555;
  color: #999;
}

#root {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100%;
  max-width: 1000px;
  margin: -50px auto 0;
}

.container {
  padding: 30px 60px;
  background-color: #232323;
}

.main-content {
  display: flex;
  flex-wrap: wrap;
}

#main-menu a {
  text-decoration: none;
  margin: 5px;
}

.message-area {
  position: absolute;
  width: 90%;
  margin: 0;
  padding: 0;
}

.message-area .error {
  color: #f65261;
}
.message-area .note {
  color: green;
}
