.movie-page {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  background-color: darkgrey;
}

.main-content {
  display: flex;
  flex-wrap: wrap;
}

.main-menu a {
  text-decoration: none;
  margin: 5px;
}
